/*<!--DISEÑO EL FORMULARIO DE CONTACTO DE LA EMPRESA EN LA PAGINA DE CONTACTO DEL SITIO-->*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


.contenedor-contacto-pagina {
    background: url(./85c876aa6dd210220e34d3654a07618f.jpg) 100% 0 fixed;
    font-family: 'Montserrat', Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

button {
    overflow: visible;
}

button,
.select-contacto {
    text-transform: none;
}

button,
.input-contacto,
.select-contacto,
textarea {
    color: #186F65;
    font: inherit;
    margin: 0;
}

.input-contacto {
    line-height: normal;
}

textarea {
    overflow: auto;
}

#container-contacto {
    border: solid 3px #186F65;
    background: white;
    max-width: 768px;
    margin: 60px auto;
    position: relative;

    h1 {
        color: #186F65;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 7px;
        text-align: center;
        text-transform: uppercase;
    }

    form {
        padding: 37.5px;
        margin: 50px 0;
    }
}

.underline {
    border-bottom: solid 2px #186F65;
    margin: -0.512em auto;
    width: 80px;
}
.email {
    float: right;
    width: 45%;
}

.input-contacto[type='text'],
.input-contacto[type='email'],
.select-contacto,
textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #186F65;
    color: #186F65;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.input-contacto[type='text']:focus,
.input-contacto[type='email']:focus,
textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

.message {
    float: none;
}

.name {
    float: left;
    width: 45%;
}

.select-contacto {
    outline: none;
}

.select-contacto::-ms-expand {
    display: none;
}

.subject {
    width: 100%;
}

.telephone {
    width: 100%;
}

textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #474544;
}

:-moz-placeholder {
    color: #186F65;
    opacity: 1;
}

::-moz-placeholder {
    color: #186F65;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #186F65;
}

#form_button {
    background: none;
    border: solid 2px #FFB000;
    color: #004225;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#form_button:hover {
    background: #17594A;
    color: #F2F3EB;
}

@media screen and (max-width: 768px) {
    #container {
        margin: 20px auto;
        width: 95%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 26px;
    }

    .underline {
        width: 68px;
    }

    #form_button {
        padding: 15px 25px;
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 18px;
    }

    .underline {
        width: 53px;
    }

    .input-contacto[type='text'],
    .input-contacto[type='email'],
    .select-contacto,
    textarea {
        font-size: 0.875em;
    }
}
.submit{
    text-align: center; 
}