/*<!--DISEÑO EL MENU DEL SITIO-->*/
.menu-color {
    background-color: #F5F7F8;
}

.menu-letra {
    --bs-navbar-color: #00A9FF;
    --bs-navbar-hover-color: #D2DE32;
    --bs-navbar-disabled-color: rgb(0, 66, 37);
    --bs-navbar-active-color: #D2DE32;
    --bs-navbar-brand-color: #D2DE32;
    --bs-navbar-toggler-border-color: rgba(8, 109, 65, 0.1);
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3e%3cpath stroke="rgba%28255, 255, 255, 0.55%29" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e);
}

#menu-dimensiones {
    font-size: 15px;
}

#menu {
    margin-bottom: 80px;
}

