/*<!--DISEÑO EL CAROUSEL DEL SITIO CON 6 IMAGENES-->*/
.carousel-aleatorio img {
    height: 500px;
}


/*<!--DISEÑO EL PIE DEL CAROUSEL CON UNA BREVE DESCRIPCION DE LA EMPRESA-->*/
.descripcion-principal {
    background-color: #FFFBF5;
    text-align: center;
    height: 300px;
    h1 {
        color: #00A9FF;
        margin-top: 20px;
    }
    p {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        color: #609966;
        font-weight: bold;
    }
    button{
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #84c0a0;
        border: none;
        border-radius: 40px;

        &:hover {
            background-color: #3e8e41
        }
        &:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    }
}

/*<!--DISEÑO UNA PARTE PARA CONTAR SOBRE EMPRESA-->*/
.bounce-in-top {
    -webkit-animation: bounce-in-top 1.1s both;
    animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.texto-nuestro {
    font-size: 16px;
    color: #245953;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contenido-principal-servicios {
    margin-top: 40px;
}

/*<!--DISEÑO TODOS LOS SERVICIOS DE LA EMPRESA-->*/
.contenedor-principal {
    margin-top: 30px;
}

.titulo-servicios {
    margin-top: 50px;
    h2 {
        color: #73A9AD;
    }
}

.contenedor-card {
    position: relative;
    width: 100%;
    margin: 0 auto;
    transition: all 0.3s ease-out;
    margin-top: 50px;
    margin-bottom: 20px;
    display: block;
}

.contenedor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-cards .contenedor-card-item {
    width: 25%;
    margin: 1%;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: help;
}

.contenedor-cards .contenedor-card-item:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.contenedor-card-item-wrapper {
    overflow: hidden;
    position: relative !important;
    background: #183A1D;
}

.contenedor-card-item img {
    max-width: 100%;
    position: relative;
    top: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 5px;
}

.contenedor-card-item .contenedor-info {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: -70px;
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.contenedor-card-item .contenedor-info .fondo {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.73) 53%, rgba(0, 0, 0, 0.88) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.73) 53%, rgba(0, 0, 0, 0.88) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.73) 53%, rgba(0, 0, 0, 0.88) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#e0000000', GradientType=0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.contenedor-card-item .contenedor-info .info {
    color: #fff;
    position: relative;
    z-index: 500;
    padding: 20px 15px;
}

.contenedor-card-item .contenedor-info .info .titulo {
    margin: 0;
    font-size: 20px;
}

.contenedor-card-item:hover .contenedor-info {
    bottom: 0;
}

@media screen and (max-width: 900px) {
    .contenedor-card-item:hover img {
        top: -30px;
        -webkit-transform: rotate(-5deg) scale(1.3);
        -ms-transform: rotate(-5deg) scale(1.3);
        -o-transform: rotate(-5deg) scale(1.3);
        transform: rotate(-5deg) scale(1.3);
    }
}

@media screen and (max-width: 767px) {
    .contenedor-card {
        width: 95%;
    }

    .contenedor-cards .contenedor-card-item {
        width: 48%;
        margin: 1%;
    }
}

@media screen and (max-width: 550px) {
    .contenedor-cards .contenedor-card-item {
        width: 60%;
        margin: 10px auto;
    }
}

@media screen and (max-width: 480px) {
    .contenedor-card {
        width: 90%;
    }

    .contenedor-cards .contenedor-card-item {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .contenedor-card {
        width: 100%;
    }
}

/*<!--DISEÑO EL PRINCIPIO DE PIE DE LA EMPRESA-->*/
.pie-contacto {
    margin-top: 40px;
}

#bloque-img {
    background: url(../image/arboles2.jpg) 100% 0 fixed;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.contactar {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

.contactar .contacto-1 {
    width: 70%;
}

.contacto-1 {
    width: 100%;
    height: auto;
    padding: 20px 20px 35px 20px;
    background-color: #fff;
    border-radius: 7px;
}

.centrar-bttn {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.centrar-bttn:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.centrar-bttn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.contacto-2 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.fila-0 {
    margin-right: -15px;
    margin-left: -15px;
}

.center-block {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #3e8e41;
}

img.center-block.centrar {
    margin-top: 100px;
}
.cont{
    li {
        list-style: none;
        margin: 10px 0 10px 10%;
        font-size: 20px;
    
    }
    
    a {
        text-decoration: none;
        margin-left: 5px;
        color: #000;
    }
    span {
    margin-left: 5px;
}
}

.redesS {
    text-align: center;
    h3 {
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}


.formulario-contacto-index {
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.58);
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.58);
    padding-bottom: 20px;
}

.consul {
    text-align: center;
    font-size: 24px;
}

.nom {
    padding-top: 15px;

}

.form-control1 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
.centrar-bttn {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {

    .infocontacto,
    .formulario-contacto-index {
        width: 100%;
    }

    .center-block {
        align-content: center;
        width: 80%;
        margin: auto;
    }

    .centrar {
        margin: auto;
    }

    img.center-block.centrar {
        margin-top: 0;
        margin-left: 40px;
    }
}